<div class="navbar bg-dark text-white navbar-expand-lg">
    <div class="navbar-brand"><img src="assets/img/bispol_logo.png" alt="" width="200px"></div>
    <div class="navbar-nav mr-auto">
        <div class="nav-item dropdown">
            <button class="nav-button nav-link btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Zamówienia</button>
            <div class="dropdown-menu bg-dark ">
                <a class="dropdown-item" href="#">Nowe</a>
                <a class="dropdown-item" href="#">Aktualne</a>
                <a class="dropdown-item" href="#">Zakończone</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <button class="nav-button nav-link btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Baza</button>
            <div class="dropdown-menu bg-dark ">
                <a class="dropdown-item" routerLink="/producer">Prodcuenci</a>
                <a class="dropdown-item" routerLink="/category">Kategorie</a>
                <a class="dropdown-item" routerLink="/provider">Dostawcy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Elementy</a>

            </div>
        </div>
        <div class="nav-item">
            <button class="nav-button nav-link btn btn-outline-primary">Zamówienie warsztatowe</button>
        </div>
    </div>
</div>