<div class="jumbotron ">
  <h3 class="text-center text-dark mb-5">Stwórz</h3>

  <div class="d-flex justify-content-center w-100">
    <div class="form-group w-75">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Nazwa: </span>
        </div>
        <input #orderName class="form-control" id="" name="" type="text">
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center w-100">
    <div class="form-group w-75">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Komentarz: </span>
        </div>
        <textarea #orderCommentary class="form-control" rows="4" cols="50"></textarea>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="createOrder(orderName.value, orderCommentary.value)" class="btn btn-outline-success w-25">Zapisz</button>
  </div>
</div>
