<div class="jumbotron  bg-warning ">
  <h3 class="text-center text-white mb-5">Modyfikuj - {{valuesArray[1]}}</h3>
  <div class="row flex-column align-content-center">
    <div class="col-6">
      <div *ngFor="let field of reducedFieldsName; let i = index">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{field}}</span>
          </div>
          <input [(ngModel)]="valuesArray[i]" class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group d-flex justify-content-around mt-3">
    <button (click)="modifyObject()" class="btn btn-success w-25">OK</button>
    <button (click)="cancelModifing()" class="btn btn-danger w-25">Anuluj</button>
  </div>
</div>
