<div class="jumbotron  bg-warning ">
    <h3 class="text-center text-white mb-5">Modyfikuj - {{valuesArray[1]}}</h3>
    <div class="row flex-column align-content-center">
        <div class="col-6">
            <div *ngFor="let field of reducedFieldsName; let i = index">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{field}}</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="valuesArray[i]">
                </div>
            </div>
        </div>
    </div>
</div>