<h1 class="bg-success text-white text-center py-3 m-0">{{objectName}}</h1>

<app-crud-statement *ngIf="statement.length !== 0" [statement]="statement"></app-crud-statement>

<div class=" container d-flex flex-column align-items-center ">
    <app-create-object class="w-100" [fieldsNames]="fieldsNames" (acceptCreating)="createObject($event)"></app-create-object>
    <app-modify-object class="w-100 " *ngIf="visibilityModifyPanel " (acceptModifiying)="modifyObject($event)" [objectToModify]=" objectToModify " [fieldsName]="fieldsNames "></app-modify-object>
    <app-show-table [objects]=objects [objectName]="objectName " [fieldsName]="fieldsNames " (modifyChanges)="readObjectToModify($event) ">
    </app-show-table>
</div>