<div class="jumbotron bg-warning">
    <h3 class="text-center text-dark mb-5">Modyfikuj</h3>
    <div class="form-group d-flex justify-content-between">
        <!-- Name -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Nazwa:</div>
            </div>
            <input [(ngModel)]="item.name" class="form-control" id="" name="" type="text">
        </div>
        <!-- Serial number -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Nr. seryjny:</div>
            </div>
            <input [(ngModel)]="item.serialNumber" class="form-control" id="" name="" type="text">
        </div>
        <!-- URL -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">URL:</div>
            </div>
            <input [(ngModel)]="item.url" class="form-control" id="" name="" type="text">
        </div>
    </div>
    <!-- Description -->
    <div class="form-group d-flex justify-content-center">
        <div class="input-group w-100">
            <div class="input-group-prepend">
                <div class="input-group-text">Opis:</div>
            </div>
            <input [(ngModel)]="item.description" class="form-control" id="" name="" type="text">
        </div>
    </div>

    <!-- Selects fields -->
    <div class="form-group d-flex justify-content-between">
        <app-select-object #selectProducer [default]="item.producer" [objects]="producers" [title]=" 'Producent:'"></app-select-object>
        <app-select-object #selectProvider [default]="item.provider" [objects]=" providers " [title]="'Dostawca:'"></app-select-object>
        <app-select-object #selectItemCategory [default]="item.itemCategory" [objects]="itemCategories " [title]="'Kategoria:'"></app-select-object>

    </div>
    <div class="form-group d-flex justify-content-around mt-3 ">
        <button (click)="modifyItem(true)" class="btn btn-success w-25 ">OK</button>
        <button (click)="modifyItem(false)" class="btn btn-danger w-25 ">Anuluj</button>

    </div>
</div>