<div class="jumbotron bg-danger ">
    <h3 class="text-center text-dark mb-5">Czy napewno chcesz usunąć obiekt: </h3>
    <div class="row flex-column align-content-center">
        <div class="col-6">
            <div class="form-group">
                <div class="" *ngFor="let field of reducedFieldsName; let i = index">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">{{field}}</span>
                        </div>
                        <input type="text" class="form-control" value="{{values[i]}}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-around mt-3">
            <button class="btn btn-success w-25" (click)="deleteObject()">OK</button>
            <button class="btn btn-warning w-25" (click)="cancelDeleteObject()">Anuluj</button>
        </div>
    </div>