<div class="jumbotron bg-danger text-white collapse" id="delete-frame">
  <h2 class="text-center">Czy napewno chcesz usunąć zamówienie <br> {{orderToDelete.name}}: </h2>
  <div class="d-flex justify-content-around mt-4">
    <button (click)="deleteOrder()" class="btn btn-outline-dark" data-target="#delete-frame" data-toggle="collapse"
            style="min-width: 200px;">Tak
    </button>
    <button class="btn btn-outline-warning" data-target="#delete-frame" data-toggle="collapse"
            style="min-width: 200px;">Nie
    </button>
  </div>
</div>
<app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
<div class="table bg-white ">
  <thead class="thead-dark">
  <th class="text-center" scope="col">Id:</th>
  <th class="text-center" scope="col">Nazwa:</th>
  <th class="text-center" scope="col">Status:</th>
  <th class="text-center" scope="col">Data utworzenia:</th>
  <th class="text-center" scope="col">Uzupełnij:</th>
  <th class="text-center" scope="col">Usuń:</th>
  </thead>
  <tbody>
  <tr *ngFor="let order of orderList">
    <td>{{order.id}}</td>
    <td>{{order.name}}</td>
    <td>
      <span *ngIf="order.orderStatus == 'NEW';">Nowe</span>
      <span *ngIf="order.orderStatus == 'REALISE';">W trakcie realizacji</span>
      <span *ngIf="order.orderStatus == 'FINISHED';">Zakończone</span>


    </td>
    <td>{{order.creationDate | date: 'H:mm:ss EEEE dd-MM-yyyy' }}</td>
    <td>
      <button (click)="getOrderId(order.id) " class=" btn btn-outline-warning ">Uzupełnij</button>
    </td>
    <td>
      <button (click)="this.orderToDelete=order" class="btn btn-outline-danger" data-target="#delete-frame"
              data-toggle="collapse" style="min-width: 100px;">Usuń:
      </button>
    </td>
  </tr>
  </tbody>
</div>
