<app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
<div class="row" class="text-white" style="margin-top: 100px;">
  <div class="d-flex justify-content-center">
    <div class="jumbotron text-center bg-dark" style="width: 500px;">
      <h1 class="mb-5">Rejestracja:</h1>
      <div class="form-group mt-4">
        <!-- Login -->
        <div class="input-group mt-3">
          <div class="input-group-prepend ">
            <span class="input-group-text label-width bg-warning ">Login:</span>
          </div>
          <input #login (focusout)="loginIsCorrect(login.value)" class="form-control" type="text">
        </div>
        <!-- Email -->
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text label-width bg-warning">Email:</span>
          </div>
          <input #email class="form-control" type="email">
        </div>
        <!-- Password -->
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text label-width bg-warning">Hasło:</span>
          </div>
          <input #password (focusout)="passwordIsCorrect(password.value)" class="form-control" type="password">
        </div>
        <!-- Password confirmation -->
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text label-width bg-warning">Hasło conf.:</span>
          </div>
          <input #passwordConfirm (focusout)="passwordIsCorrect(passwordConfirm.value)" (focusout)="comparePassword(password.value, passwordConfirm.value)"
                 class="form-control"
                 type="password">
        </div>
      </div>
      <button (click)="register(login.value, email.value, password.value, passwordConfirm.value) "
              class=" btn btn-outline-primary w-50 mt-5 ">Rejestruj
      </button>
    </div>
  </div>
</div>
