<div class="row" class="text-white" style="margin-top: 200px;">
    <div class="d-flex justify-content-center">
        <div class="jumbotron text-center bg-danger" style="width: 500px;">
            <h1>Błąd!</h1>
            Niepoprawne dane logowania. <br> Sprawdź dane logowania lub załóż konto.
            <div class="d-flex justify-content-between mt-5">
                <button class="btn btn-success " style="width: 200px;" routerLink="/login">Logowanie</button>
                <button class="btn btn-primary " style="width: 200px;" routerLink="/register">Rejestracja</button>
            </div>
        </div>

    </div>
</div>