<h1 class="bg-success text-white text-center py-3 m-0">Zamówienia:</h1>
<div class="container">
    <app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
    <div class="jumbotron jumbotron-fluid d-flex flex-column align-items-center" style="background-color:orange;">
        <h2 class="text-center mb-5 text-light">Aktualne:</h2>
        <div class="w-50 border rounded mb-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Szukaj:</span>
                </div>
                <input #filterCurrentText (keyup)="filterCurrentOrders(filterCurrentText.value)" type="text" class="form-control" placeholder="Wpisz wyszukiwana frazę">
            </div>
        </div>
        <div class="d-flex justify-content-center w-100">
            <ul class="list-group w-100">
                <li (click)="goToOrderDetails(orderCurrent.id)" *ngFor="let orderCurrent of currentOrdersFiltered" class="list-group-item  py-4  text-center d-flex justify-content-between">
                    <p>Id: {{orderCurrent.id}}</p>
                    <p>Nr.: {{orderCurrent.orderNr}}</p>
                    <p>{{orderCurrent.name}}</p>
                    <p>{{orderCurrent.appUser.username}}</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-dark d-flex flex-column align-items-center">
        <h2 class="text-center mb-5 text-light">Zakończone:</h2>
        <div class="w-50 border rounded mb-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Szukaj:</span>
                </div>
                <input #filterFinishedText (keyup)="filterFinishedOrders(filterFinishedText.value)" type="text" class="form-control" placeholder="Wpisz wyszukiwana frazę">
            </div>
        </div>
        <div class="d-flex justify-content-center w-100">
            <ul class="list-group w-100">
                <li (click)="goToFinishedOrderDetails(orderFinished.id)" *ngFor="let orderFinished of finishedOrdersFiltered" class="list-group-item  py-4  text-center d-flex justify-content-between">
                    <p>Id: {{orderFinished.id}}</p>
                    <p>Nr.: {{orderFinished.orderNr}}</p>
                    <p>Nazwa: {{orderFinished.name}}</p>
                    <p>Autor: {{orderFinished.appUser.username}}</p>
            </ul>
        </div>
    </div>
</div>