<h1 class="bg-success text-white text-center py-3 m-0">Zamówienia:</h1>
<div class="container">
    <app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
    <div class="jumbotron jumbotron-fluid " style="background-color:orange;">
        <h2 class="text-center mb-5">Aktualne:</h2>
        <div class="d-flex justify-content-center">
            <ul class="list-group w-75">
                <li class="list-group-item  text-center" *ngFor="let orderCurrent of currentOrders">
                    {{orderCurrent.name}} --- {{orderCurrent.appUser.username}}</li>
            </ul>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <h2 class="text-center mb-5">Zakończone:</h2>
        <div class="d-flex justify-content-center">
            <ul class="list-group w-75">
                <li class="list-group-item  text-center" *ngFor="let orderFinished of finishedOrders">
                    {{orderFinished.name}} --- {{orderFinished.appUser.username}}</li>
            </ul>
        </div>
    </div>
</div>