<div class="table d-flex justify-content-center w-100">
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Id:</th>
            <th scope="col">Nazwa:</th>
            <th scope="col">Nr. seryjny</th>
            <th scope="col">Opis:</th>
            <th scope="col">Url:</th>
            <th scope="col">Producent:</th>
            <th scope="col">Dostawca:</th>
            <th scope="col">Kategoria:</th>
            <th scope="col">Ilość:</th>
            <th scope="col">Zmień ilość:</th>
            <th scope="col">Usuń:</th>
            <th scope="col">Szczegóły:</th>
        </thead>
        <tbody class="bg-white">
            <tr *ngFor="let itemInOrder of itemsInOrderList" class="bg-success" [ngClass]="{
                'bg-warning': itemInOrder.delivered === false,
                'bg-danger': itemInOrder.ordered === false
            }">
                <td>{{itemInOrder.id}}</td>
                <td>{{itemInOrder.name}}</td>
                <td>{{itemInOrder.serialNumber}}</td>
                <td>{{itemInOrder.description}}</td>
                <td>
                    <a href="{{itemInOrder.url}}" class="">Klik</a>
                </td>
                <td>{{itemInOrder.producer.name}}</td>
                <td>{{itemInOrder.provider.name}}</td>
                <td>{{itemInOrder.itemCategory.name}}</td>
                <td><input type="text" class="form-control text-center" style="width: 100px;" [(ngModel)]="itemInOrder.amount"></td>
                <td><button class="btn btn-outline-dark" (click)="changeAmount(itemInOrder.id)">Zmień</button></td>
                <td><button class="btn btn-outline-dark" (click)="delete(itemInOrder.id)">Usuń</button></td>
                <td><button class="btn btn-outline-dark" type="button" (click)="goToItemDetails(itemInOrder.id)">Szczegóły</button></td>




            </tr>
        </tbody>
    </table>
</div>