<div class="jumbotron bg-secondary text-white">
  <h3 class="text-center mb-3">{{title}}</h3>
  <app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
  <div class="form-group">
    <div class="d-flex justify-content-center">
      <input #file accept=".csv" class="form-control w-50" id="file-upload" type="file">
    </div>

    <div class="d-flex justify-content-center  m-3 ">
      <select #selectCategory class="custom-select w-50 text-center">
        <option *ngFor="let category of categories" [value]="category.id" class="text-center">{{category.name}}</option>
      </select>
    </div>

    <div class="d-flex justify-content-center m-3">
      <button (click)="sendFile(selectCategory.value, file)" class="btn btn-primary w-50">Wyslij</button>
    </div>


  </div>
</div>
