<div class="jumbotron bg-danger">
  <h3 class="text-center text-dark mb-5">Usuń</h3>
  <div class="form-group d-flex justify-content-between">
    <!-- Name -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Nazwa:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.name}} ">
    </div>
    <!-- Serial number -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Nr. seryjny:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.serialNumber}}">
    </div>
    <!-- URL -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">URL:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.url}}">
    </div>
  </div>
  <!-- Description -->
  <div class="form-group d-flex justify-content-center">
    <div class="input-group w-100">
      <div class="input-group-prepend">
        <div class="input-group-text">Opis:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.description}}">
    </div>
  </div>

  <div class="form-group d-flex justify-content-between">
    <!-- Producer -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">URL:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.producer.name}}">
    </div>
    <!-- Provider  -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">URL:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.provider.name}}">
    </div>
    <!-- Category  -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">URL:</div>
      </div>
      <input class="form-control" id="" name="" readonly type="text" value="{{item.itemCategory.name}}">
    </div>
  </div>

  <div class="form-group d-flex justify-content-around mt-3 ">
    <button (click)="deleteItem(true)" class="btn btn-success w-25 ">OK</button>
    <button (click)="deleteItem(false)" class="btn btn-warning w-25 ">Anuluj</button>

  </div>
</div>
