<h1 class="bg-success text-white text-center py-3 m-0">Zamówienie - {{order.name}}</h1>
<h4 class="bg-success text-white text-center py-3 m-0">Szczegóły</h4>



<app-crud-statement *ngIf="statement.length !== 0" [statement]="statement"></app-crud-statement>
<div class="container">
    <div class="row">
        <app-order-details-frame *ngIf="order.orderStatus !=='FINISHED'" class="w-100" [order]="order" (changeNameEmit)="changeName($event)" (changeStatusEmit)="changeStatus($event)"></app-order-details-frame>
        <app-order-details-item-list class="w-100" [orderStatus]="order.orderStatus" [itemsInOrderList]="order.itemsInOrder" (modifyAmountEmit)="modifiyItemAmount($event)" (deleteEmit)="delete($event)"></app-order-details-item-list>
        <app-order-detail-add-list *ngIf="order.orderStatus !=='FINISHED'" class=" w-100 " (refreshEmit)="refresh() " [currentOrderId]="order.id "></app-order-detail-add-list>
    </div>
</div>