<div class="container">
    <app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>
    <div class="jumbotron jumbotron-fluid p-3 bg-dark text-white">
        <h2 class="text-center mb-3">Informacje o zamówieniu:</h2>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Id: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.id}}">
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Nazwa: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.name}}">
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Autor: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.appUser.username}}">
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Data utworzenia: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.creationDate|date:'HH:mm:ss dd-MM-yyyy'}} ">
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Data utworzenia: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.orderNr}}">
            </div>
        </div>


        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend ">
                    <span class="input-group-text">Komentarz: </span>
                </div>
                <textarea class="form-control" rows="4" cols="50" readonly>{{order.commentary}}</textarea>
            </div>
        </div>

        <div *ngIf="order.closedDate !==null" class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Data utworzenia: </span>
                </div>
                <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.closedDate|date:'HH:mm:ss dd-MM-yyyy'}} ">
            </div>
        </div>

        <div class="form-group d-flex justify-content-center">
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">Dodaj komentarz: </span>
                </div>
                <textarea #commentary cols="30" rows="4" class="form-control"></textarea>

                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="addCommentary(commentary.value)">Dodaj</button>
                </div>
            </div>
        </div>

        <div class="form-group d-flex justify-content-center">
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">Dodaj nr zamówienia: </span>
                </div>
                <input #orderNr type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="addOrderNr(orderNr.value)">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
</div>