<div class="container">
    <div class="jumbotron jumbotron-fluid p-3 bg-dark text-white">
        <h2 class="text-center mb-3">Informacje o zamówieniu:</h2>
        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Nazwa: </span>
                </div>
                <input type="text" style="width: 100px;" class="form-control text-center" value="{{order.name}}" readonly>
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Autor: </span>
                </div>
                <input type="text" style="width: 100px;" class="form-control text-center" value="{{order.appUser.username}}" readonly>
            </div>
        </div>

        <div class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Data utworzenia: </span>
                </div>
                <input type="text" style="width: 100px;" class="form-control text-center" value="{{order.creationDate|date:'HH:mm:ss dd-MM-yyyy'}} " readonly>
            </div>
        </div>

        <div *ngIf="order.closedDate !==null" class="form-group d-flex  justify-content-center mt-1">
            <div class="input-group w-50">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Data utworzenia: </span>
                </div>
                <input type="text" style="width: 100px;" class="form-control text-center" value="{{order.closedDate|date:'HH:mm:ss dd-MM-yyyy'}} " readonly>
            </div>
        </div>





    </div>