<div class="container">
  <div class="jumbotron jumbotron-fluid p-3 bg-dark text-white">
    <h2 class="text-center mb-3">Informacje o zamówieniu:</h2>
    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Nazwa: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{order.name}}">
      </div>
    </div>

    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Autor: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text"
               value="{{order.appUser.username}}">
      </div>
    </div>

    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Data utworzenia: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;"
               type="text" value="{{order.creationDate|date:'HH:mm:ss dd-MM-yyyy'}} ">
      </div>
    </div>

    <div *ngIf="order.closedDate !==null" class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Data utworzenia: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;"
               type="text" value="{{order.closedDate|date:'HH:mm:ss dd-MM-yyyy'}} ">
      </div>
    </div>


  </div>
