<table class="table">
    <thead class="thead-dark">
        <th scope="col" class="text-center">Id:</th>
        <th scope="col" class="text-center">Nazwa:</th>
        <th scope="col" class="text-center">Nr. seryjny:</th>
        <th scope="col" class="text-center">Opis:</th>
        <th scope="col" class="text-center">Link:</th>
        <th scope="col" class="text-center">Producent:</th>
        <th scope="col" class="text-center">Dostawca:</th>
        <th scope="col" class="text-center">Kategoria:</th>
        <th scope="col" class="text-center">Modyfikuj:</th>
        <th scope="col" class="text-center">Usuń:</th>

    </thead>
    <tbody style="background-color: white;">
        <tr *ngFor="let item of items" class="text-center">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.serialNumber}}</td>
            <td>{{item.description}}</td>
            <td>
                <a href="{{item.url}}" target="_blank" class="">Klik</a>
            </td>
            <td>{{item.producer.name}}</td>
            <td>{{item.provider.name}}</td>
            <td>{{item.itemCategory.name}}</td>
            <td><button class="btn btn-warning" style="min-width: 100px;" (click)="getItemIdToModify(item.id)">Modyfikuj:</button></td>
            <td><button class="btn btn-danger" style="min-width: 100px; " (click)="getItemIdToDelete(item.id)">Usuń:</button></td>

        </tr>
    </tbody>
</table>