<div class="container">
  <div class="jumbotron jumbotron-fluid bg-secondary">
    <h1 class="text-center text-white mb-5">Szczegóły: </h1>
    <app-crud-statement *ngIf="statement.length > 0" [statement]="statement"></app-crud-statement>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Id: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{itemInOrder.id}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Nazwa: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{itemInOrder.name}}">
      </div>
    </div>

    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Nr. seryjny: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text"
               value="{{itemInOrder.serialNumber}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">URL: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text" value="{{itemInOrder.url}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Producent: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text"
               value="{{itemInOrder.producer.name}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Dostawca: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text"
               value="{{itemInOrder.provider.name}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Kategoria: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;"
               type="text" value="{{itemInOrder.itemCategory.name}}">
      </div>
    </div>


    <div class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Ilość: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;" type="text"
               value="{{itemInOrder.amount}}">
      </div>
    </div>


    <div *ngIf="itemInOrder.orderDate!== null" class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Data zamówienia: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;"
               type="text" value="{{itemInOrder.orderDate | date:'HH:mm:ss dd-MM-yyyy' }}">
      </div>
    </div>


    <div *ngIf="itemInOrder.deliverDate!== null" class="form-group d-flex  justify-content-center mt-1">
      <div class="input-group w-50">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text">Data dostarczenia: </span>
        </div>
        <input class="form-control text-center" readonly style="width: 100px;"
               type="text" value="{{itemInOrder.deliverDate | date:'HH:mm:ss dd-MM-yyyy' }}">
      </div>
    </div>


  </div>


</div>
