<h1 class="w-100 p-3 text-white text-center bg-success">Dodaj</h1>
<app-crud-statement *ngIf="statement.length !== 0" [statement]="statement" class="w-100"></app-crud-statement>

<div class="jumbotron-fluid text-white bg-success  my-3 p-3 text-center">
  <h3 class="mb-3">Filtruj</h3>
  <div class="form-group d-flex justify-content-center">
    <div class="input-group w-50">
      <div class="input-group-prepend">
        <span class="input-group-text">Fraza:</span>
      </div>
      <input #filterInput (keyup)="filterItems(filterInput.value)" class="form-control" id="" name="" placeholder="Wpisz wyszukiwana fraze:"
             type="text">
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
  <th scope="col">Id:</th>
  <th scope="col">Nazwa:</th>
  <th scope="col">Nr. seryjny</th>
  <th scope="col">Opis:</th>
  <th scope="col">Url:</th>
  <th scope="col">Producent:</th>
  <th scope="col">Dostawca:</th>
  <th scope="col">Kategoria:</th>
  <th scope="col">Ilość:</th>
  <th scope="col">Dodaj:</th>
  </thead>
  <tbody class="bg-white">
  <tr *ngFor="let item of filteredItemList" class="bg-success">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.serialNumber}}</td>
    <td>{{item.description}}</td>
    <td>
      <a class="" href="{{item.url}}">Klik</a>
    </td>
    <td>{{item.producer.name}}</td>
    <td>{{item.provider.name}}</td>
    <td>{{item.itemCategory.name}}</td>
    <td><input #amount class="form-control text-center" style="width: 100px;" type="text"></td>
    <td>
      <button (click)="saveNewItem(amount.value, item.id)" class="btn btn-outline-primary" type="button">Dodaj</button>
    </td>

  </tr>
  </tbody>
</table>
